@import '../../node_modules/flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.text-red-500 {
    color: #f56565;
}
nav {
    border-bottom: none !important;
    box-shadow: none !important;
}



.select2-dropdown {
    background-color: #f3f4f6;
}


.select2-results__option {
    color: #333333;
}


.select2-results__option--highlighted {
    background-color: #4CAF50;
    color: white;
}


