@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.text-red-500 {
    color: #f56565;
}
nav {
    border-bottom: none !important;
    box-shadow: none !important;
}

